*{
    font-family: 'Open Sans', sans-serif;
}
@media (min-width: 1200px){
    .premiumh2{
        font-size: 40px !important;
        letter-spacing: -1.6px !important;
   }
   .premiumarticle{
    width: 1170px;
   }
   .Premium{
   
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    -moz-box-pack: center;
    justify-content: center;
    max-width: fit-content !important;
   
    margin-left: 0px !important;
}

.premiumflex1, .premiumflex2, .premiumflex3, .premiumflex4{
    grid-row: 1 !important;
    padding-top: 16px !important;
    margin: 0px 16px 0px 0px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.premcontainer1, .premcontainer2, .premcontainer3, .premcontainer4{
    text-align: left !important;
    grid-row: 2;
padding-top: 20px !important;
padding-bottom: 16px !important;
list-style: none !important;
box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px !important;
margin: 0px 16px 0px 0px !important;
  margin-top: 0px !important;
padding-left: 16px !important;
padding-right: 16px !important;
}
.button1, .buttonduo, .buttonfam, .buttonstudent{
    flex-wrap: nowrap;
   grid-row :3;
   margin-right: 16px !important;
}

.bottom1, .bottomduo, .bottomfam, .bottomstudent{
    grid-row: 4;
padding-top: 4px !important;
padding-bottom: 16px !important;
margin: 0px 16px 0px 0px !important;
  margin-bottom: 0px !important;
padding-left: 16px !important;
padding-right: 16px !important;
}

}


   
   

.premiumsection{
    overflow-wrap: break-word;
    overflow: auto;
    --background-base: #efefef;
    background: var(--background-base,inherit);
}
.premiumarticle{
    margin: 0px auto;
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
    --text-base: #000000;
    color: var(--text-base,inherit);
    padding: 35px 15px;
}
.premiumh2{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -1.28px;
    line-height: 1;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.premiumh3{
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0px;
    text-align: center;
    padding: 0px;
}
.premiumpayment{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-top: 16px;
}
.premiumcard{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.visa, .mastercard, .amex, .paypal{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 29px;
    height: 20px;
    vertical-align: middle;
}
@media (min-width: 965px){
.Premium{
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  
}
}
.flexgrid1{
    margin: 50px 0px 26px;
    text-align: left;
    --text-base: #000000;
    color: var(--text-base,inherit);
    overflow-wrap: break-word;
    --background-base: #efefef;
}
.monthsfree{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bluecolor{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    font-weight: 900;
    margin: -20px 1px 1px -40px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 114, 234);
}
.spanmonths{
    font-size: 14px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.individual, .duo, .family, .student{
    margin-block: 0;
}
.priceindividual, .priceduo, .pricefamily, .pricestudent{
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
    margin-bottom: 2px;
}
.account1{
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px 0px 2px;
}
.linie{
    align-self: stretch;
    border-color: rgb(204, 204, 204);
    margin: auto 0px 0px;
    text-align: left;
}
.premcontainer1, .premcontainer2, .premcontainer3, .premcontainer4{
    padding-top: 32px;
    padding-bottom: 16px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}
.premitem1, .premitem2, .premitem3, .premitem4{
    flex-wrap: nowrap;
    align-items: flex-start;
    display:flex;
    margin-bottom: 5px;
}
.check{
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 0px;
    text-align: left;
}
.premp1, .premp2, .premp3, .premp4{
    text-align: left;
    color: rgb(0, 0, 0);
    line-height: 22px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.premiumflex1, .premiumflex3{
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}
.button1, .buttonduo, .buttonstudent, .buttonfam{
    display: flex;
    
    
    justify-content: center !important;
    box-shadow: rgb(255, 255, 255) 0px -9px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    padding-bottom: 0px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
}
.myButton, .myButton1, .myButton3, .myButton4{
    display: flex;
    flex-wrap: nowrap;
    text-transform: uppercase;
    justify-content: center;
    background-color:#000000;
    border-radius:42px;
    border:2px solid #000000;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:8px 64px;
    margin-bottom: 8px;
    text-decoration:none;
    line-height: 20px;
}
.bottom1, .bottomduo, .bottomfam, .bottomstudent{
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgb(255, 255, 255) 0px -9px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.bottomtext, .bottomtextduo, .bottomtextfam, .bottomtextstudent{
    
    margin-top: 12px;
    color: rgb(83, 83, 83);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
}
.premiumflex2, .premiumflex4{
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
}

