

.container{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
}
.img1{
text-align: center;
display: block;
width: 270px;
-moz-box-flex: 1;
flex-grow: 1;
margin-bottom: 20px;
}
.img2{
text-align: center;
    display: block;
    width: 270px;
    -moz-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 20px;
}
.img3{
text-align: center;
    display: block;
    width: 270px;
    -moz-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 20px;
}
.img4{
text-align: center;
    display: block;
    width: 270px;
    -moz-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 20px;
}
.download {
    
    font-weight: bold;
margin-bottom: 10px;
font-size: 21px;
padding: 0px;
line-height: 1.3em;
}
.adfree{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3em;
}
.playany{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3em;
}
.unlimited{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 1.3em;
}

@media (min-width: 1200px){
    .container{
        display:flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        list-style: none;
    }
}
@media (max-width: 768px){
.container {

  display: flex;
  text-align: left;
  flex-wrap: wrap;
  }
}